// temp vars should be moved to global dir etc

// breakpoints - temp, we may wish to em/vw 
$sm: 320px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// colours - temp, should import theme
$white: #fff;
$black: #000;
$gray1: #f9f9f9;
$gray2:  #727070;
$gray3: #dddddd;

.border {
  border: 1px solid $gray3;
  // border-left: 1px solid $gray2;
  margin:0 -1px -1px 0;
}


.page {
  background-color: $gray1;
}

// should be in global
.heading1 {
  color: $gray2;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 3vw;
  margin: 3vw 0;
}

.grid {
  padding: 0;
  margin: 1px;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  color: $black;

  @media screen and (min-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  .item {
    display: block;
  
    .link {
      text-decoration: none;
    } 

    // responsive tweaks needed here when using next.js
    // this solution needs a bit more finessing re: padding and consistent grid heights etc

    .card {
      display: flex;
      background-color: $gray1;
      flex-flow: column; 
      align-items: center;
      padding: 1vw;
      @extend .border;
      
      img {
        width: 80%;
      }

      div {
        text-align: left;
        color: $black;
        font-size: 24px;
        margin: 1vw;
        font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
      }
      
      .price {
        display: block;
        font-weight: bold;
        margin-top: 1vw;
      }
  
    }
  }
}


